#root {
  background-color: #f2e7bf;
}
.header {
  color: white;
  background-color: #6a040f;
  padding: 5px;
  display: flex;
  justify-content: space-around;
}

.bloc {
  border-radius: 10px;
  background-color: white;
  padding: 15px;
  font-size: 18px;
}

.titre {
  padding: 15px;
  text-align: center;
  font-size: 28px;
}

.countdown {
  display: flex;
  justify-content: center;
}

.footer {
  color: white;
  background-color: #6a040f;
  padding: 5px;
  text-align: center;
  width: 100%;
}

.footer ul {
  list-style: none;
}

.feed {
  display: flex;
  justify-content: flex-end;
}

.imgAside {
  float: left;
  height: 300px;
  padding-right: 25px;
}

.endPara {
  padding-top: 50px;
}

.coreCQ {
  font-size: 22px;
}

.imgLeft {
  float: left;
  height: 250px;
  padding-right: 25px;
}
.imgRight {
  float: right;
  height: 250px;
}

.corePot {
  font-size: 25px;
  margin: 20px;
  padding: 15px;
}

.legende {
  font-style: italic;
  font-size: 14px;
  padding-left: 1%;
}

.imgBloc {
  display: flex;
  justify-content: center;
}

.imgBloc img {
  height: 1000px;
}
.politesse {
  padding-left: 15%;
}

.titreMarie {
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
  padding-top: 1%;
}

.signature {
  padding-left: 15%;
  font-size: 20px;
}

.imgLettremarie {
  display: flex;
  justify-content: flex-end;
  padding-right: 20%;
}

.auteur {
  text-align: end;
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.titreStocquarts {
  font-size: 21px;
  padding: 1% 0%;
  text-align: center;
}

.video {
  display: flex;
  justify-content: center;
  padding: 2% 0%;
}

.bloc__photo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photo {
  max-width: 300px;
  max-height: 300px;
}

.navBloc {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 30rem;
}

.btnNav {
  margin-top: 2%;
  padding: 4%;
  border-radius: 10%;
}

.bottom0 {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.absolutePhoto {
  position: fixed;
  bottom: 25%;
  top: 25%;
  right: 25%;
  bottom: 25%;
  z-index: 999;
}

.absolutePhoto img {
  width: 650px;

  object-fit: cover;
}
.bigPhoto {
  width: 110%;
  height: 100%;
}

.pickPhoto {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
}

.pickPhoto h1 {
  text-align: center;
  margin-top: 10%;
  color: white;
  font-weight: bold;
}

.arrowLeft {
  position: absolute;
  top: 50%;
  left: 2%;
}
.arrowRight {
  position: absolute;
  top: 50%;
  left: 93%;
}
.arrowRightIcon {
  width: 100px;
}
