.row {
  text-align: center;
}

.comite__img {
  width: 200px;
  height: 200px;
}

.comite__president {
  margin-left: auto;
  width: 34%;
  margin-right: auto;
}

.comite__carte {
  background-color: #faa307;
  border-radius: 10%;
  border: 1px solid #faa307;
  margin: 1rem;
  padding: 1rem;
}

.comite__title__tresorier {
  margin-top: 40px;
}
