.navUl {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #6a040f;
  border: 3px solid black;
  width: 100%;
}

.navUl a {
  color: white;
  text-decoration: none;
  margin: 0px 25px;
}
